* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

.td-active {
  transform: translate(0, -20%);
  border-radius: 25%;
  background: hsl(0, 0%, 15%);
  border: 1px solid hsl(293, 95%, 71%);
}

/* .grid-effect-area { */
/* border: 1px solid red; */
/* width: 100%;
  height: 100vh;
  background: var(--background-color);
  overflow: hidden;
  position: relative; */
/* } */

/* .grid-overlay { */
/* border: 2px solid white; */
/* top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  z-index: 5; */
/* } */

/* td { */
/* border-radius: var(--border-radius); */
/* border: var(--border-size) var(--border-type) var(--border-color); */
/* transition: var(--trans); */
/* transition: all 0.5s cubic; */
/* } */
